#welcome {
  margin-top: 6em;
}

#welcome li {
  font-size: 1.5em;
}

.register, .login, .table-submissions .challenges {
  margin: auto;
  width: 450px;
}

.newchallenge {
  margin: auto;
  width: 650px;
}

.error {
  margin: auto;
  width: 850px;
}

.register-fail, .login-fail {
  margin-bottom: 1em;
}

.login .last-p {
  margin-bottom: 2em;
}

.dashboard h2 {
  font-weight: bold;
}

.dashboard .data {
  color: #DF691A;
  font-weight: bold;
}

.mainblock h1 {
  text-align: center;
}

.mainblock {
  margin: 3.5% 20%;
}

.inside-well-margin {
  margin: 2% 5%;
}

.bigbutton {
  text-align: center;
  padding: 24px 48px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 0;
}

.
