{% extends "base.html" %}


{% block body %}
<div class="well wrap-generic-content">
    <h1 class="text-center">
      <img src="{{ url_for('static', filename='icons/odal_rune.png') }}" id="about-logo">
      <br />
      Mjöllnir
    </h1>
  <hr />
  <p class="lead" align="justify">
      Mjöllnir is an online platform for Artificial Intelligence competition.
    <br />
    <br />
      Users can submit solutions to challenges such as Backgammon in many different languages and join groups to participate in tournaments.
    <br />
    <br />
      Mjöllnir is an <a href="//github.com/vyrp/Mjollnir">open-source</a> project by undergraduate students at <a href="//www.ita.br">ITA</a>.
  </p>
  <br />
</div>
{% endblock %}
