{% extends "base.html" %}


{% block body %}
  <div class="challenge">
    <div class="row">
      <div class="col-lg-12">
        <div class="jumbotron">
          {% if error %}
            <div class="alert alert-dismissable alert-danger register-fail">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ error }}
            </div>
          {% endif %}
          {% if challenge %}
            <h1>{{ challenge.name }}</h1>
            <br>
            {{ markdown_to_html(challenge.description) }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
