{% extends "sidebarbase.html" %}


{% block head %}
{{ super() }}
{{ pagedown.html_head() }}
<style>
.flask-pagedown-input {
  color: #000000;
}
input {
  color: #000000;
}
</style>
{% endblock %}


{% block main %}
  <div class="custommatches">
    <div class="row">
      <div class="span6">
        <form method="post" action="">
          <fieldset>
            <legend>Custom Matches</legend>
            {% if error %}
              <div class="alert alert-dismissable alert-danger register-fail">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ error }}
              </div>
            {% endif %}
            <div>
              <b>{{ form.challenge.label }}</b>
              {{ form.challenge(class="color-white") }}
            </div>
            <br>
            <br>
            <div>
              <b>{{ form.player.label }}</b>
              {{ form.player(class="color-white") }}
            </div>
            <br>
            <br/>
            <div>
              <b>Rounds</b><br>
              {{ form.rounds(class="color-white") }}
            </div>
            <br>
            
            <br/>

            <div class="col-lg-10 col-lg-offset-4">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
