{% extends "sidebarbase.html" %}


{% block main %}
  <div class="dashboard">
    <div class="row">
      <div class="col-lg-12">
        <h2>Groups</h2>
        <hr class="hr-small"/>
        
        {% if groups %}
        <table class="table table-submissions">
        <thead>
          <tr>
            <th>Groups</th>
            <th>Situation</th>
          </tr>
        </thead>
        <tbody>
          {% for group in groups %}
          <tr>
            <td><a href="{{ url_for('.group', gid=group.gid) }}">{{ group.name }}</a></td>
            <td>
              {% if group.users and username in group.users %}
                <a href="{{ url_for('.joingroup', gid=group.gid) }}">Leave</a>
              {% else %}
                <a href="{{ url_for('.joingroup', gid=group.gid) }}">Join</a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
        </table>
        {% else %}
          No groups to show
        {% endif %}

      </div>
    </div>
  </div>
{% endblock %}


{% block script %}
{{ super() }}

<script type="text/javascript">
  $(function () {
    $(".build-status").popover();
  });
</script>
{% endblock %}
