{% extends "sidebarbase.html" %}


{% block head %}
    {{ super() }}
{% endblock %}

{% block main %}
  
  <div class="group">
    <div class="row">
      <div class="col-lg-12">
        {% if error %}
          <div class="alert alert-dismissable alert-danger register-fail">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ error }}
          </div>
        {% endif %}
        <div class="height-60">
          <div class="float-left width-400">
            <h2>{{ group.name }}</h2>
          </div>
        </div>

        {% if is_active_user_in('Dev') or user.username in group.admins %}
        <p align="right"><a href="{{ url_for('editgroup', gid = group.gid) }}">Edit Group</a></p>
        <br/>
        {% endif %}

        <div>
          <ul id="challenge-tabs" class="nav nav-tabs">
            <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
            {% if user.username in group.users %}
              <li><a href="#play" data-toggle="tab">Play</a></li>
            {% endif %}
            {% if is_active_user_in('Dev') or user.username in group.admins %}
              <li><a href="#organize" data-toggle="tab">Organize</a></li>
            {% endif %}
            {% if is_active_user_in('Dev') %}
              <li><a href="#group-info" data-toggle="tab">Group Info</a></li>
            {% endif %}
          </ul>
          <div class="tab-content">

            <div class="tab-pane fade active in" id="description">
              {{ group.description }}
            </div>

            <div class="tab-pane fade" id="play">
              <form method="post" action="#play">
                <fieldset>
                  <div>
                    <b>{{ playForm.challenge.label }}</b>
                    {{ playForm.challenge(class="color-white", id="play_challenge") }}
                  </div>
                  <br>
                  <div>
                    <b>{{ playForm.player.label }}</b>
                    {{ playForm.player(class="color-white", id="opponent") }}
                  </div>
                  <br>
                  <div>
                    <b>{{ playForm.rounds.label }}</b>
                    {{ playForm.rounds(class="color-white", value="1") }}
                  </div>
                  <br>
                  {{ playForm.form_type(value="play") }}
                  <div class="col-lg-10 col-lg-offset-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </fieldset>
              </form>
            </div>

            <div class="tab-pane fade" id="organize">
              <form method="post" action="#organize">
                <fieldset>
                  <div>
                    <b>{{ tournamentForm.challenge.label }}</b>
                    {{ tournamentForm.challenge(class="color-white", id="tournament_challenge") }}
                  </div>
                  <br>
                  <div>
                    {{ tournamentForm.all_play(class="float-left", id="all_play", value=False) }}<b>{{ tournamentForm.all_play.label }}</b>
                  </div>
                  <br>
                  <div>
                    <b>{{ tournamentForm.player1.label }}</b>
                    {{ tournamentForm.player1(class="color-white", id="player1") }}
                  </div>
                  <br>
                  <div>
                    <b>{{ tournamentForm.player2.label }}</b>
                    {{ tournamentForm.player2(class="color-white", id="player2") }}
                  </div>
                  <br>
                  <div>
                    <b>{{ tournamentForm.rounds.label }}</b>
                    {{ tournamentForm.rounds(class="color-white", value="1") }}
                  </div>
                  <br>
                  {{ tournamentForm.form_type(value="tournament") }}
                  <div class="col-lg-10 col-lg-offset-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </fieldset>
              </form>
            </div>

            <div class="tab-pane fade" id="group-info">
              <b>Admin only?</b><br> 
              {{ group.admin_only }}
              <br><br>
              <b>Users' name type:</b><br>
              {{ group.users_name_type }}
              <br><br>
              <b>Admins:</b><br>
              {% for admin in group.admins %}
                {{ admin }}<br>
              {% endfor %}
              <br />
              <b>Users:</b><br>
              {% for user in group.users %}
                {{ user }}<br/>
              {% endfor %}
              <br />
            </div>


          </div>
        </div>

      </div>
    </div>
  </div>

{% endblock %}

{% block script %}

  {{ super() }}

  <script>
    $(function() {
        $('#play_challenge').change(function(){
            $player = $('#opponent').parent();
            // $br = $player.next();
            if($('#play_challenge option:selected').text() === 'Wumpus'){
                $player.css('opacity', '0.5');
                // $player.hide();
                // $br.hide();
            } else {
                $player.css('opacity', '1.0');
                // $player.show();
                // $br.show();
            }
        });

        $('#tournament_challenge').change(function(){
            $player2 = $('#player2').parent();
            if($('#tournament_challenge option:selected').text() === 'Wumpus'){
                $player2.css('opacity', '0.5');
            } else {
                $player2.css('opacity', '1.0');
            }
        });

        $('#all_play').change(function(){
            $player1 = $('#player1').parent();
            $player2 = $('#player2').parent();
            if($('#all_play').prop('checked')){
              $player1.css('opacity', '0.5');
              $player2.css('opacity', '0.5');
            } else {
              if($('#tournament_challenge option:selected').text() === 'Wumpus'){
                  $player1.css('opacity', '1.0');
              } else {
                  $player1.css('opacity', '1.0');
                  $player2.css('opacity', '1.0');
              }
            }
        });

        var hash = window.location.hash;
        hash && $('ul.nav a[href="' + hash + '"]').tab('show');

        $('.nav-tabs a').click(function (e) {
            $(this).tab('show');
            var scrollmem = $('body').scrollTop();
            window.location.hash = this.hash;
            $('html,body').scrollTop(scrollmem);
        });
    });
  </script>

{% endblock %}
