{% extends "base.html" %}


{% block body %}
  <div class="login well">
    <div class="row">
      <div class="span6">
        <form method="post" action="">
          <fieldset>
            <legend>Login</legend>
            {% if error %}
              <div class="alert alert-dismissable alert-danger login-fail">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ error }}
              </div>
            {% elif request.args.get('x') == 'verifymail' %}
            <div class="alert alert-dismissable alert-info">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              You should soon receive an email with a link to activate your account. After activating it, you can proceed to login below. For questions, contact <strong> heimdallr@rro.im</strong>.
            </div>
            {% else %}
            <p class="last-p">
              New user?  <a href="{{ url_for('register') }}">Register</a>
            </p>
            {% endif %}

            <label for="email" class="col-lg-4 control-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="heimdallr@rro.im" autofocus>

            <label for="password" class="col-lg-4 control-label">Password</label>
            <div class="col-lg-4">
              <input type="password" class="form-control" id="password" name="password" placeholder="">
            </div>
    
            <br/>
            
            <button type="submit" class="btn btn-primary">Login</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
