{% extends "base.html" %}


{% block body %}
  <div class="login">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <form class="bs-example form-horizontal" method="post" action="">
          <fieldset>
            <legend>Login</legend>
            {% if error %}
              <div class="alert alert-dismissable alert-danger login-fail">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ error }}
              </div>
            {% elif request.args.get('x') == 'verifymail' %}
            <div class="alert alert-dismissable alert-info">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              You should soon receive an email with a link to activate your account. After
              activating it, you can proceed to login below. For questions, contact <strong>
              heimdallr@rro.im</strong>.
            </div>
            {% else %}
            <p class="last-p">
              New user?  <a href="{{ url_for('register') }}">Register</a>
            </p>
            {% endif %}

            <div class="form-group">
              <label for="email" class="col-lg-4 control-label">Email</label>
              <div class="col-lg-4">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" autofocus>
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="col-lg-4 control-label">Password</label>
              <div class="col-lg-4">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-4">
                <button type="submit" class="btn btn-primary">Login</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
