{% extends "sidebarbase.html" %}


{% block head %}
  {{ super() }}
{% endblock %}


{% block main %}
  <div class="match">
    <div class="row">
      <div class="col-lg-12">
        {% if error %}
          <div class="alert alert-dismissable alert-danger register-fail">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ error }}
          </div>
        {% endif %}

        <div class="height-60">
          <h2><a href="{{ url_for('.challenge_by_name', challenge_name=match.challenge_name) }}">{{ match.challenge_name }}</a></h2>
          <div class="float-left width-400">
            <h3>{{ ' vs '.join(match.usernames) }}</h3>
          </div>
          <div class="float-right margin-top-20">
            ({{ match.time_since }})
          </div>
        </div>

          <div class="margin-left-16">
              <div class="well margin-top-55">
                  <div id="match-player">
                  </div>
              </div>
          </div>

      </div>
    </div>
  </div>
{% endblock %}


{% block script %}
  {{ super() }}
  <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
  
  <script type="text/javascript">
    bifrost_mid = "{{ match.mid | safe }}";
    bifrost_match_users = [
      {% for user in match.users %}
        { uid: "{{ user.uid | safe }}", username: "{{ user.username | safe }}" },
      {% endfor %}
    ];
  </script>

  <script src="{{ url_for('static', filename='js/' + match.visualizer) }}"></script>
  <script src="{{ url_for('static', filename='js/match_player.js') }}"></script>

{% endblock %}
