{% extends "sidebarbase.html" %}


{% block head %}
  {{ super() }}
{% endblock %}


{% block main %}
  <div class="match">
    <div class="row">
      <div class="col-lg-12">
        {% if error %}
          <div class="alert alert-dismissable alert-danger register-fail">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ error }}
          </div>
        {% endif %}

        <div class="height-60">
          <h2>{{ match.challenge_name }}</h2>
          <div class="float-left width-400">
            <h3>{{ ' vs '.join(match.usernames) }}</h3>
          </div>
          <div class="float-right margin-top-20">
            ({{ match.time_since }})
          </div>
        </div>

        <div class="well margin-top-55 margin-left-20">
          <div id="match-player">
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}
