{% extends "base.html" %}


{% block head %}
{{ pagedown.html_head() }}
<style>
.flask-pagedown-input {
  color: #000000;
}
input {
  color: #000000;
}
</style>
{% endblock %}


{% block body %}
  <div class="newchallenge">
    <div class="row">
      <div class="span6">
        <form method="post" action="">
          <fieldset>
            <legend>Submit a new challenge</legend>
            {% if error %}
              <div class="alert alert-dismissable alert-danger register-fail">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ error }}
              </div>
            {% endif %}

            <div>
              <b>{{ form.name.label }}</b>
              {{ form.name() }}
            </div>
            <br>
            <br>
            <div>
              <b>{{ form.pagedown.label }}</b>
              {{ form.pagedown(rows = 10, style = 'width:100%') }}
            </div>

            <br/>
            <br/>

            <div class="col-lg-10 col-lg-offset-4">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
