{% extends "base.html" %}


{% block body %}
  <div class="register well">
    <div class="row">
      <div class="span6">
        <form method="post" action="">
          <fieldset>
            <legend>Create a New Account</legend>
            {% if error %}
              <div class="alert alert-dismissable alert-danger register-fail">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ error }}
              </div>
            {% endif %}
            <div class="alert alert-dismissable alert-info">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              You must verify your email address before logging in.
            </div>
            
            <label for="email" class="col-lg-4 control-label">Email</label>
            <div class="col-lg-4">
              <input type="email" class="form-control" id="email" name="email" autofocus>
            </div>
            <label for="username" class="col-lg-4 control-label">Username</label>
            <div class="col-lg-4">
              <input type="text" class="form-control" id="username" name="username">
            </div>
            <label for="password" class="col-lg-4 control-label">Password</label>
            <span class="help-block">(>= 8 characters)</span>
            <div class="col-lg-4">
              <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="col-lg-10 col-lg-offset-4">
              <button type="submit" class="btn btn-primary">Register</button>
            </div>
          
          </fieldset>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
