{% extends "sidebarbase.html" %}


{% block main %}
  <div class="submitsolution">
    <div class="row">
      <div class="span6">
        <form method="post" action="" enctype="multipart/form-data">
          <fieldset>
            <legend>Submit a solution for challenge <i>{{ challenge.name }}</i></legend>
            {% if error %}
            <div class="alert alert-dismissable alert-danger register-fail">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ error }}
            </div>
            {% endif %}

            <span class="help-block">Supported languages: C# (.cs), C++ (.cpp) and Python (.py)</span>
            <span class="help-block">Maximum file size: 512kB (if more, the connection will be aborted)</span>
            <div class="col-lg-4">
              <input type="file" class="form-control" id="sourcefile" name="sourcefile" accept=".cs,.cpp,.py">
            </div>

            <br/>

            <div class="col-lg-10 col-lg-offset-4">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
