{% extends "sidebarbase.html" %}


{% block main %}
  <div class="submitsolution">
    <div class="row">
      <div class="span6">
        <form method="post" action="" enctype="multipart/form-data">
          <fieldset>
            <legend>Submit a solution for challenge <i>{{ challenge.name }}</i></legend>
            {% if error %}
            <div class="alert alert-dismissable alert-danger register-fail">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ error }}
            </div>
            {% endif %}

            <span class="help-block">Maximum file size: 512kB (if larger, the connection will be aborted)</span>
            <input type="file" class="form-control" id="sourcefile" name="sourcefile">

            <span class="help-block">Source file language</span>
            <select name="language">
              {% for language in ACCEPTED_LANGUAGES.keys() %}
                <option value="{{ language }}">{{ ACCEPTED_LANGUAGES[language] }}</option>
              {% endfor %}
            </select>

            <div class="col-lg-10 col-lg-offset-4">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
